body{
    margin: 0;
    padding: 10px;
    background: black;
    background-size: cover;
}
html {
  scroll-behavior: smooth;
}
/* .navigation{
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color:rgba(0,0, 0, 0.4); */
    
    /* width: 100%;
    height: 70px;
    z-index: 1;
}
.navigation ul{
    display: flex;
    justify-content: left;
    list-style: none;
    margin-right: 15%;
    list-style-type: none;
    
    
    background-color:rgba(0,0, 0, 0.4);
    overflow:hidden;
}
.navigation ul{
    list-style-type: none;
    padding:10px;
    margin:0;
    background-color:rgba(0,0, 0, 0.4);
    overflow:hidden;
}
.navigation li{
    float:left;
}
.navigation li a{
    display: block;
    text-align: center;
    padding: 6px 8px;
    color: white;
    text-decoration: none;
}
.navigation li a:hover{
    background-color: white;
    border-radius: 20px;
    color: black;
} */ 
/* .navbar{
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background:rgba(0,0, 0, 0.4);
    width: 100%;
  }
  
  .menu{
    position: absolute;
    right: 20px;
  }
  .menu a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
    transition: color 0.3s;
   
    padding: 6px 8px;
   
  }
  .menu a:hover{
    color: black;
    background: white;
    border-radius: 20px;
  }
  .header{
    width: 100%;
    height: 600px;
    background: url(bg.png) no-repeat 50% 50%;
    background-size: cover;
    margin-top: 80px;
  }
  .btn{
    display: none;
    position: absolute;
    right: 20px;
  }
  .btn:hover > span{
    background: white;
  }
  .btn span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: white;
  }
  p{
    padding: 20px;
    font-size: 20px;
    text-align: justify;
  
  }
  @media only screen and (max-width : 600px) {
    .navbar{
      overflow: visible;
    }
    .menu{
      width: 100%;
      right: 0;
      top: 80px;
      background:white;
      overflow: hidden;
      max-height: 0;
    }
    .menu a{
      display: block;
      text-align: center;
      padding: 10px;
      margin: 0;
      color: #000;
    }
    
    .btn{
      display: block;
      cursor: pointer;
    }
    .show{
      max-height: 500px;
    }
  } */
  header {
  
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color:rgba(0,0, 0, 0.4); */
    
    width: 100%;
    height: 70px;
    z-index: 1;
    position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
    /* display: flex;
    justify-content: left;
    list-style: none;
    margin-right: 15%;
    list-style-type: none;
    background-color:rgba(0,0, 0, 0.4);
    overflow:hidden;
    list-style-type: none;
    padding:10px;
    margin:0;
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 0px;
    transition: 1s;
    */
    line-height: 60px;
    list-style: none;
    background: black;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 0px;
    /* transition: 1s; */
}

nav.black ul {
    background: black;
}

nav ul li {
    display: inline-block;
    padding:1px 2px;
   
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 2px 2px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: white;
    border-radius: 20px;
    color: black;

}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
          overflow: scroll;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 0px;
          text-align: center;
          margin-top: 1px;
        
    }

    .menu-icon {
          display: block;
    }

}
.box{
    width: 270px;
    background: rgba(0,0, 0, 0.4);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    padding: 40px;
    text-align: center;
    margin: auto;
  
    color:#FFFFF0;
    font-family: 'Lexend Peta', sans-serif;
}

.box img{
    margin: auto;
    border-radius:50%;
    width: 250px;
    height: 250px;

}


.box h6{
    font-size: 14px;
    font-weight: lighter;
    color:#FFFFF0;
    text-align: center;
}

.box p{
    font-size: 15px;
    /* padding: 5px; */
     color:#bfbfbf;
     text-align: center;


}
.box .links{
    margin:15px;
}
.box a{

    text-decoration: none;
    color: black;
    font-size: 1.4em;
    padding: 10px 15px;
}
.box .fab{
    transition: 0.5s;
}

.box .fa-facebook{
    color:#3b5998;
}

.box .fa-instagram{
    color: #dd2a7b;;
}
.box .fa-linkedin-in{
    color:#27242e;
} 
#id-card{
    background:#696969;
    margin-bottom: 50px;
}

.timeline-area{
    margin: 90px auto;
    width: 360px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 50px;
    
    /* color:#FFFFF0 */
}

.timeline-area div{
    background-color: #fff;
    padding: 10px 25px;
    font-size: 12px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 150px;
    width:340px;
    margin-bottom: 20px;
    
}



.timeline-area div:before{
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top:10px;
    left:-40px;
}


.timeline-area div:after{
    content: ' ';
    width: 0;
    height:0;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 8px;
    position: absolute;
    top:10px;
    left:-17px;
}
.timeline-area h1{
    color: white;
}
.timeline-area div h2{
    margin:0;
    text-transform: uppercase;
    font-family: merienda;
}
.timeline-area div h3{
    margin:0;
    font-family: poppins;
}
.timeline-area div h4{
    margin:0;
    font-family: poppins;
}


.about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    color: white;
}
.skills-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    color: white;
}
.timeline-area-header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    /* margin-top: 5%; */
}
.timeline-area-text{
    width: 65%;
    height: 50%;
}
.timeline-area-text h1{
    font-size: 50px;
}
#summary, #internship, #Skills, #awards{
    background: #262626;
    
    
    padding: 1%;
}
.about-area .about-text{
    width: 65%;
    height: 80%;
    text-align: justify;
}

.about-area .about-text h1{
    font-size: 50px;
}
.about-area .about-text p{
    font-size: 24px;
    line-height: 50px;
    text-align: justify;
}

.about-area .about-text ul li{
    font-size: 24px;
    /* line-height: 50px; */

}
.about-area .about-text ul li h6{
    /* height: 1px; */
    margin: 20px;
    margin-top: 0%;
    margin-bottom: 5%;
}
.interest-list{
    /* outer area */
    margin:auto;
    /* every element has but isnt visible */
    
    /* house with garden area garden area is padding */
    padding:10px;
    /* main area */
    width:300px;
    height: 100px;
    display:inline-block;
    text-align: center;
    font-size: 15px;
    background: rgba(0,0, 0, 0.4);
    color: white;
    font-weight:1000;
    border-radius: 10px;
    margin-bottom: 5px;


}
.interest-list:hover{
   cursor: pointer;
   border: 2px solid silver;
   border-radius: 10px;
   
}
.interests-list{
    /* outer area */
    margin:auto;
    /* every element has but isnt visible */
    
    /* house with garden area garden area is padding */
    padding:10px;
    /* main area */
    width:300px;
    height: 100px;
    display:inline-block;
    text-align: center;
    font-size: 15px;
    background:  #262626;
    color: white;
    font-weight:1000;
    border-radius: 10px;
    margin-bottom: 5px;


}
.interests-list:hover{
   cursor: pointer;
   border: 2px solid silver;
   border-radius: 10px;
   
}
.contact-details{
    width: 100%;
    height: auto;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.contact-list{
    width: 200px;
    height:100px;
    background:  #262626;
    margin: 20px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 50px;
}
@media screen and (max-width:1200px){
    .contact-list{
        width: 40%;

    }
}
@media screen and (max-width:600px){
    .contact-list{
        width: 90%;

    }
}
@media (max-width:858px){
    #container{
     
        
    }
    
}

.contact a{

    text-decoration: none;
    color: black;
    font-size: 1.4em;
    padding: 10px 15px;
    margin-top: 5px;
}
.contact .fab{
    transition: 0.5s;
}
.contact .fas{
    transition: 0.5s;
}


.contact .fa-facebook{
    margin-top: 10px;
    margin-left: 48px;
    color:#3b5998;
}
.contact .fa-facebook:hover{
    background:white;
    color: #000;
}

.contact .fa-instagram{
    margin-top: 10px;
    margin-left: 48px;
    color: #dd2a7b;
}
.contact .fa-instagram:hover{
    background:white;
    color: #000;
}
.contact .fa-linkedin-in{
    margin-top: 10px;
    margin-left: 48px;
    background:#0072b1;
    padding: 5px;
    color:white;
} 
.contact .fa-linkedin-in:hover{
    background:white;
    color: #000;
} 
.contact .fa-envelope{
    margin-top: 10px;
    margin-left: 70px;
    color:white;
} 
.contact .fa-calendar{
    margin-top: 10px;
    margin-left: 80px;
    color:white;
} 
.contact .fa-phone{
    margin-top: 10px;
    margin-left: 80px;
    color:white;
} 
footer {
    text-align: center;
    padding: 3px;
    background-color: ;
    color: white;
  }
